#navBar {
    z-index: 101;
    height: 55px;
  }

  #navBar nav {
    background-color: #012690 !important;
  }

 /* #navbar {
    position: sticky;
    top: 0;
  }*/

  .nav-links {
    color: rgba(24, 20, 20, 0.767);
  }

  .nav-links:hover {
    color: #012690;
  }
  #index body {
    background: radial-gradient(ellipse farthest-side at 100% 100%, #dbf6c8 20%, #1cafc6 50%, #012690 110%);
  }

  #navBar li:hover,
#navBar a:hover {
  color: #ffffff;
}
  
  .navbar-brand {
    font-size: 25px;
    padding-left: 30px;
    
  
  }